.back-button {
  margin-top: 15px;
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
}

.mov-img {
  object-fit: cover;
  aspect-ratio: 3/4;
}