@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #262932;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
  color: #e4756e;
}

#button {
  background-color: #e4756e;
}

#button:hover {
  background-color: #262932;
}
